body{
  background-color: lightgray; margin:20px;
}
  a{color:blue;
    text-decoration: none;
  }
  h1{font-size: 50px;
    margin-top: 10px;

}

h2{font-size: 20px;
  margin-top: 5px;

}
/**1번째줄 */
#title{
  border:1px solid gray;
  margin:20px;
  padding:10px;
  background-color: lightblue;
}
/**2번째줄 */
#sec_layer{
 display:grid;
 grid-template-columns: 23% 54% 23%;

}

#sec_layer ul, #article{
  border:1px solid gray;
  margin:20px;
  padding:33px;
 height:350px;
 background-color: white;
}
/**3번째줄 */
#table{
  border:1px solid gray;
  margin:20px;
  padding:33px;
  height:350px;
  background-color: white;
}
/**테이블 */
#sin  {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#sin td, #sin th {
    border: 1px solid #f2f2f2;
    padding: 8px;
}
#sin td, #sin tr {
   background-color: gray;
   color: white;
}
#sin th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

/**footer */
footer{
  border:1px solid gray;
  margin:20px;
  padding:33px;
 background-color: lightblue;
}
@media(max-width:800px){
  #sec_layer{
   display:block;
  }
}
